# configuration for auth.js
AUTH_SECRET=// use `openssl rand -base64 32` to generate one

# if ORIGIN is wrong, it might be related with this error message (in
# browser console:
#[LoginComponent] handleLogin failed: JSON.parse: unexpected character at line 1 column 1 of the JSON data
ORIGIN=http://localhost:8444

# Potential error message for wrong MC_ENDPOINT:
# Cannot connect to motley-cue server at undefined. Error: can't access property "toString", H is undefined
MC_ENDPOINT=http://caddy:8080/motley_cue/

SSH_HOSTNAME=localhost
SSH_INTERNAL_HOSTNAME=localhost
SSH_PORT=1022

# SSH_METHOD will be mccli, unless it's set to oinit.
# If it is set to oinit, OINIT_ENDPOINT is required
SSH_METHOD=oinit
OINIT_ENDPOINT=http://localhost:8080/oinit/api/v1

# FOR DEVEL ONLY!!!
# NODE_TLS_REJECT_UNAUTHORIZED=0
