.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
config/development.yml
config/production.yml
config/docs/privacy.md
.vscode/
CLAUDE.md
config/default.html
