@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* :root {
		--color-mc-blue: 0 87 146;
		--color-mc-orange: 253 95 0;
		--color-mc-gray: 102 102 102;
	} */
}

html, body {
	height: 100%;
	min-height: 100%;
}

html.dark body {
	color: #e5e7eb; /* gray-200 */
}
